<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/hero-bg.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        Alex Thompson
                        <span class="user-level">Administrator</span>
                        <span class="caret"></span>
                    </span>
                </a>
                <div class="clearfix"></div>

                <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                    <ul class="nav">
                        <li>
                            <a href="#profile">
                                <span class="link-collapse">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#edit">
                                <span class="link-collapse">Edit Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings">
                                <span class="link-collapse">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a href="/Statistic/Index">
                    <i class="bi bi-bar-chart"></i>
                    <p>Statictics</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/ToDoList/Index">
                    <i class="bi bi-bell"></i>
                    <p>To-Do List</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Inbox">
                    <i class="bi bi-envelope"></i>
                    <p>Inbox</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Experience/ExperienceList">
                    <i class="la la-keyboard-o"></i>
                    <p>Experiences</p>
                </a>
            </li>
           
            <li class="nav-item">
                <a href="/Default/Index">
                    <i class="bi bi-house-door"></i>
                    <p>Go to Site</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Default/Index">
                    <i class="bi bi-box-arrow-right"></i>
                    <p>Çıkış Yap</p>
                </a>
            </li>
        </ul>
    </div>
</div>
